@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;700&display=swap');


.instructions_div {
  padding: 30px;
}

.refresh {
  margin: auto;
  text-align: center;
  font-family: 'Brygada 1918', serif;
  color: whitesmoke;
  font-size: 5rem;
  text-shadow: 3px 0 #232931;
}

.instructions {
  margin: auto;
  text-align: center;
  font-family: 'Brygada 1918', serif;
  color: whitesmoke;
  text-shadow: 3px 0 #232931;
}


.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.table {

  border: whitesmoke 5px solid;
  border-radius: 2%;
  padding: 40px;

}

.dice {
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  margin: 10px 60px;

}

body {
  background-color: #519259;
}

h1 {
  margin: 30px;
  font-family: 'Brygada 1918', serif;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: whitesmoke;
}

.uno {
  background-color: #F90716;
  font-size: 2rem;
  color: whitesmoke;
  text-shadow: 3px 0 #232931;
  font-family: 'Brygada 1918', serif;
}

.dos {
  background-color: #FFCA03;
  font-size: 2rem;
  color: whitesmoke;
  text-shadow: 3px 0 #232931;
  font-family: 'Brygada 1918', serif;
}

/* p {
  font-size: 2rem;
  color: whitesmoke;
  font-family: 'Brygada 1918', serif;
} */

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
